altgraph
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
bs4
certifi
cffi
charset-normalizer
colorama
comm
cryptography
darkdetect
DateTime
debugpy
decorator
defusedxml==0.8.0rc2
Django
django-cors-headers
django-debug-toolbar
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-yasg
et-xmlfile
executing
fastjsonschema
fqdn
h11
idna
inflection
ipykernel
ipython
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
oauthlib
openpyxl
outcome==1.3.0.post0
overrides
packaging
pandocfilters
parso
pefile
pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
PyMySQL
pyqtdarktheme
PySide6
PySide6-Addons
PySide6-Essentials
PySocks
python-dateutil
python-dotenv
python-json-logger
python3-openid
pytz==2023.3.post1
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
referencing
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rpds-py
selenium
Send2Trash
shiboken6
six
sniffio
social-auth-app-django
social-auth-core
sortedcontainers
soupsieve
sqlparse
stack-data
terminado
tinycss2
tornado
traitlets
trio
trio-websocket
types-PyMySQL
types-python-dateutil
types-requests
tzdata
uri-template
uritemplate
urllib3
wcwidth
webcolors
webencodings
websocket-client
wsproto
zope.interface
