<article class="post">
    <header>
        <h2 class="post_title">Lorem ipsum dolor sit amet.</h2>
    </header>
    <div class="post_body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe libero, possimus voluptatem molestiae, exercitationem sint architecto pariatur deleniti facilis sequi tempora nisi in! Voluptatibus quod cum molestias laboriosam corporis ut inventore voluptate, unde animi culpa accusamus accusantium magni reprehenderit temporibus. Quisquam aliquid adipisci qui est ex quo debitis maiores aliquam?
    </div>
</article>